<h3><i>micro</i><i class="fas fa-compress-arrows-alt"></i>fiction</h3>

<div class="section">
    <p>Publish and read microfiction!</p>
</div>
<div class="divider"></div>
<div class="sect">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> Login with google!</i>
    </a>
</div>